<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
	integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
	crossorigin="anonymous" />

<title>home page</title>
</head>

<body class="bg-dark">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:text="${title}" th:href="@{/admin/home}">register</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">

				<li class="nav-item active mr-2"><a
					class="btn btn-outline-primary btn-block"
					th:text="${user.fullName}">Login Account<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a
					class="btn btn-outline-primary btn-block" th:href="@{/logout}">Logout<span
						class="sr-only">(current)</span>
				</a></li>
			</ul>

		</div>
	</nav>
	<div class="container-fluid">
		<h3 class="text-white mx-auto text-center">Admin home Page</h3>
		<!-- error message  -->
						<div th:if="${session.message}"
							th:classappend="${session.message.type}"
							class="alert  text-center" role="alert">
							<p th:text="${session.message.content}"></p>
							<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
		<div class="row my-4 mx-auto text-center">

			<div class="col-md-4 offset-md-1">
				<div class="card p-2 mx-auto my-auto">
					<a th:href="@{/admin/Allusers}" class="btn btn-light">
						<div class="card-body">

							<h2 class="text-center ">
								<i class="fas fa-user-circle fa-3x text-primary"></i>
							</h2>

						</div>
						<h2 class="text-center ">Users</h2>
					</a>
				</div>
			</div>
			<div class="col-md-4 offset-md-1">
				<div class="card p-2 mx-auto my-auto">
					<a  th:href="@{/admin/AllPayments}" class="btn btn-light">
							<div class="card-body">

								<h2 class="text-center ">
									<i class="fas fa-user-circle fa-3x text-primary"></i>
								</h2>

							</div>
							<h2 class="text-center ">All Latest Payments</h2>
					</a> 
				</div>
			</div>

		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>